/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    /* background-color: #d9e8fb; Light blue background */
    background-color: rgb(225, 230, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Main container */
.main-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px 30px;
    text-align: center;
}

/* Register heading */
.main-container h2 {
    /* color: #007bff; Blue color */
    color:#0A7029 ;
    font-size: 26px;
    margin-bottom: 20px;
}

/* Sub-container for inputs and button */
.sub-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input fields */
.sub-container input[type="text"],
.sub-container input[type="email"],
.sub-container input[type="password"] {
    max-width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 20px; /* Rounded corners */
    font-size: 14px;
    background-color: #f9f9f9;
}

.sub-container input:focus {
    outline: none;
    /* border-color: #007bff; Focus color
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
    border-color: rgb(78, 224, 90);
    box-shadow: 0 0 5px rgba(27, 199, 15, 0.5);
}

/* Register button */
.sub-container button {
    width: 100%;
    padding: 12px;
    /* background-color: #007bff; */
    background-color: #0A7029;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;
}

.sub-container button:hover {
    /* background-color: #0056b3; Darker blue on hover */
    background-color: #13ab41;
}

form p {
    margin-top: 15px;
    font-size: 14px;
    color: #666666;
}

form p a {
    /* color: #007bff; */
    color: #0A7029;
    text-decoration: none;
    font-weight: bold;
}

form p a:hover {
    text-decoration: underline;
}

/* Error message */
.sub-container .error-message {
    color: red; /* Blue color for the error */
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}
